{{> post-info post}}

{{> comments post.comments}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea class="commentform" name="comment-body">Type Comment Here!</textarea>
    </div>
    <div>
        <button class="btn" type="submit">Add comment</button>
    </div>
</form>

{{/if}}



{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}